@charset "utf-8";


.container {
 display: flex;
 flex-flow: column wrap;
 align-items: center;
 justify-content: flex-end;
}
.container div {
 border: 1px #ccc solid;
 padding: 10px;
}
.box1 {
    flex: 1;
    order: 1;
}
.box2 {
    flex: 2;
    order: 2;
  
   }
.box3 {
    flex: 3;
    order: 3;
}
.box4{
    flex: 4;
    order: 4;
    align-self: flex-start;
   }
   img{
    width: 10%;
 }
